.main{
    position: relative;
    left: -100px;
}

ul li{
   margin-left: 600px;
   font-size: 20px;
}

.icons{
    position: relative;
    top: 3px;
    left: 20px;
    cursor: pointer;
    color: red;
}
